.card{
    .card-header{
        h3{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    p{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 50%;
    }
}

